# Learn more at https://fly.io/docs/reference/configuration/
app = "eraya-backend"
primary_region = "iad"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1

[env]
  PORT = "8080"
  NODE_ENV = "production"
